@use 'anidacion';
//Variables
$color-principal: #ccc;
$color-letra: blue;

body {
    background: $color-principal;
}

h1 {
    color: $color-letra;
}

p {
    color: $color-letra;
}

//Mixins -- acciones
@mixin caja_personalizada($fondo: white, $color: color-letra) {
    background-color: $fondo;
    border: 4px solid black;
    box-shadow: 0px 0 px 2px black;
    color: $color;
}

.caja{
    @include caja_personalizada();
}

.caja-secundaria {
    @include caja_personalizada($fondo: lightgrey, $color: green);
}

.caja, .caja-secundaria {
    width: 400px ;
}